<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xkcd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE96C85A2E988C1600F3AD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE96C8692E988C1800F3AD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE96C8732E988C1800F3AD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
